<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>추천</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://bxgs.co.kr/theme/buzinga/css/aos.css?ver=210618">
    <link rel="stylesheet" href="https://bxgs.co.kr/theme/buzinga/css/nice-select.css?ver=210618">
    <link rel="stylesheet" href="https://bxgs.co.kr/theme/buzinga/css/common.css?ver=210618">
    <link rel="stylesheet" href="https://bxgs.co.kr/theme/buzinga/css/sub.css?ver=210618">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link th:href="@{/css/layout1.css}" rel="stylesheet">
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=l10cqxpv34"></script>
</head>
<body>
<div th:replace="~{fragments/header::header}" class="header"></div>

<div layout:fragment="content" class="container" >
    <section class="sub-tit-wrap aos-init aos-animate" data-aos="fade-up">
        <div class="maxinner">
            <span class="sub-txt">Galleria에 오신 것을 환영합니다</span>
            <h2 class="sub-tit">갤러리 추천</h2>
        </div>
    </section>
</div>
<div id="map" style="width:50%; height:50vh; margin: 0 auto; margin-top:-100px"></div>

<script type="text/javascript">
    var areaArr = new Array();  // 지역을 담는 배열 ( 이름/위도경도/주소 )


   areaArr.push(
         /*지역구 이름*/         /*위도*/               /*경도*/
{location :    '갤러리아<br>',   lat :    '37.4910456',   lng :    '126.7204602'},
{location :    '울산시립미술관',   lat :    '35.55778844',   lng :    '129.3206661'},
{location :    '진부령미술관',   lat :    '38.26517662',   lng :    '128.3582402'},
{location :    '한양여자대학교 미술관',   lat :    '37.5579193904',   lng :    '127.0493225775'},
{location :    '킴스아트필드미술관',   lat :    '35.25241288',   lng :    '129.0542004'},
{location :    '디오티미술관',   lat :    '35.22888238',   lng :    '129.0767714'},
{location :    '행촌미술관',   lat :    '34.571367',   lng :    '126.612969'},
{location :    '아미미술관',   lat :    '36.86174554',   lng :    '126.6804815'},
{location :    '순성미술관',   lat :    '36.84330389',   lng :    '126.7126072'},
{location :    '함평군립미술관',   lat :    '35.05813923',   lng :    '126.5226056'},
{location :    '대전시립미술관',   lat :    '36.36704913',   lng :    '127.3857273'},
{location :    '이응노미술관',   lat :    '36.366898',   lng :    '127.387019'},
{location :    '남철미술관',   lat :    '36.338908',   lng :    '127.376069'},
{location :    '성암미술관',   lat :    '36.35368094',   lng :    '127.348862'},
{location :    '여진불교미술관',   lat :    '36.41077114',   lng :    '127.4061141'},
{location :    '동아대학교석당미술관',   lat :    '35.103747',   lng :    '129.0194155'},
{location :    '영월아프리카미술박물관',   lat :    '37.13187895',   lng :    '128.535397'},
{location :    '영월종교미술박물관',   lat :    '37.2109426',   lng :    '128.4452253'},
{location :    '인도미술박물관',   lat :    '37.23587339',   lng :    '128.2392085'},
{location :    '무릉고서화미술박물관',   lat :    '37.32528094',   lng :    '127.8865608'},
{location :    '호암미술관',   lat :    '37.29321604',   lng :    '127.192333'},
{location :    '안상철미술관',   lat :    '37.77840046',   lng :    '126.956991'},
{location :    '양주시립장욱진미술관',   lat :    '37.73281632',   lng :    '126.9492504'},
{location :    '김세중미술관',   lat :    '37.54201614',   lng :    '126.9638815'},
{location :    '아모레퍼시픽미술관',   lat :    '37.52879082',   lng :    '126.9686757'},
{location :    '창원시립마산문신미술관',   lat :    '35.20675249',   lng :    '128.569266'},
{location :    '맥아트미술관',   lat :    '37.2197536',   lng :    '126.6024204'},
{location :    '유리섬미술관',   lat :    '37.2197536',   lng :    '126.6024204'},
{location :    '종이미술관',   lat :    '37.22451313',   lng :    '126.5759886'},
{location :    '영은미술관',   lat :    '37.41355842',   lng :    '127.268748'},
{location :    '닻미술관',   lat :    '37.38034358',   lng :    '127.2711276'},
{location :    '삼성미술관 Leeum',   lat :    '37.53846091',   lng :    '126.999294'},
{location :    '숙명여자대학교 문신미술관',   lat :    '37.54547273',   lng :    '126.9650748'},
{location :    '누벨백미술관',   lat :    '35.81789497',   lng :    '127.1049483'},
{location :    '뜻밖의미술관',   lat :    '35.82627298',   lng :    '127.1470119'},
{location :    '성북구립미술관',   lat :    '37.5948078',   lng :    '126.9948864'},
{location :    '부산광역시립미술관',   lat :    '35.1690637154',   lng :    '129.1360182683'},
{location :    '부산현대미술관',   lat :    '35.1093319279',   lng :    '128.9426935670'},
{location :    '부산광역시립미술관',   lat :    '35.1690637154',   lng :    '129.1360182683'},
{location :    '부산현대미술관',   lat :    '35.1093319279',   lng :    '128.9426935670'},
{location :    '노적봉예술공원미술관',   lat :    '34.78811336',   lng :    '126.3809359'},
{location :    '아람미술관',   lat :    '37.66148641',   lng :    '126.7744561'},
{location :    '모란미술관',   lat :    '37.6504135',   lng :    '127.3237775'},
{location :    '서호미술관',   lat :    '37.63270736',   lng :    '127.3515079'},
{location :    '현대어린이책미술관 MOKA가든',   lat :    '37.61625793',   lng :    '127.1524291'},
{location :    '죽포미술관',   lat :    '37.41003128',   lng :    '127.4426394'},
{location :    '여주미술관',   lat :    '37.2647726',   lng :    '127.637079'},
{location :    '김홍도미술관',   lat :    '37.31603662',   lng :    '126.8517361'},
{location :    '세종문화회관 미술관',   lat :    '37.57184786',   lng :    '126.9761683'},
{location :    '세화미술관',   lat :    '37.56964251',   lng :    '126.9721395'},
{location :    '소마미술관',   lat :    '37.5203397',   lng :    '127.1155179'},
{location :    '아르코미술관',   lat :    '37.58050229',   lng :    '127.0032562'},
{location :    '아모레퍼시픽미술관',   lat :    '37.52879118',   lng :    '126.9686736'},
{location :    '아트센터나비미술관',   lat :    '37.56969128',   lng :    '126.9803408'},
{location :    '일민미술관',   lat :    '37.5698318',   lng :    '126.9776433'},
{location :    '자하미술관',   lat :    '37.58937711',   lng :    '126.9603062'},
{location :    '(재)한원미술관',   lat :    '37.481764',   lng :    '127.015414'},
{location :    '코리아나미술관',   lat :    '37.524089',   lng :    '127.0328115'},
{location :    '토탈미술관',   lat :    '37.61212183',   lng :    '126.975686'},
{location :    '포스코미술관',   lat :    '37.50581497',   lng :    '127.056131'},
{location :    '한가람디자인미술관',   lat :    '37.4802402',   lng :    '127.0142152'},
{location :    '한가람미술관',   lat :    '37.4802402',   lng :    '127.0142795'},
{location :    '한미사진미술관',   lat :    '37.51659901',   lng :    '127.1139404'},
{location :    '환기미술관',   lat :    '37.59408777',   lng :    '126.9661137'},
{location :    '서울과학기술대학교 미술관',   lat :    '37.63307893',   lng :    '127.0767947'},
{location :    '서울대학교미술관',   lat :    '37.46803806',   lng :    '126.9592943'},
{location :    '숙명여자대학교문신미술관',   lat :    '37.54547408',   lng :    '126.9650744'},
{location :    '겸재정선미술관',   lat :    '37.57222297',   lng :    '126.838412'},
{location :    '서울시립미술관',   lat :    '37.56410607',   lng :    '126.9736993'},
{location :    '성북구립미술관',   lat :    '37.5948372',   lng :    '126.9948871'},
{location :    '성북구립 최만린미술관(성북구립미술관 분관)',   lat :    '37.61065979',   lng :    '127.004288'},
{location :    '성북어린이미술관 꿈자람(성북구립미술관 분관)',   lat :    '37.60497289',   lng :    '127.0505855'},
{location :    '성북예술창작터(성북구립미술관 분관)',   lat :    '37.59005225',   lng :    '127.004123'},
{location :    '종로구립 고희동미술관',   lat :    '37.58318236',   lng :    '126.9889528'},
{location :    '종로구립 박노수미술관',   lat :    '37.5813192',   lng :    '126.9668185'},
{location :    'K현대미술관',   lat :    '37.52437942',   lng :    '127.0391717'},
{location :    'OCI미술관',   lat :    '37.57323951',   lng :    '126.9821283'},
{location :    '금호미술관',   lat :    '37.57746671',   lng :    '126.9799128'},
{location :    '김세중미술관',   lat :    '37.54201785',   lng :    '126.963886'},
{location :    '대림미술관',   lat :    '37.577527',   lng :    '126.973346'},
{location :    '디뮤지엄(대림미술관 분관)',   lat :    '37.54415475',   lng :    '127.0433578'},
{location :    '리움미술관',   lat :    '37.538461',   lng :    '126.999294'},
{location :    '밀알미술관',   lat :    '37.48578186',   lng :    '127.0820718'},
{location :    '사비나미술관',   lat :    '37.63012857',   lng :    '126.929285'},
{location :    '상원미술관',   lat :    '37.61162836',   lng :    '126.9765689'},
{location :    '성곡미술관',   lat :    '37.57351051',   lng :    '126.9697614'},
{location :    '국립현대미술관(과천관)',   lat :    '37.431037',   lng :    '127.0199299'},
{location :    '국립현대미술관(서울관)',   lat :    '37.57862803',   lng :    '126.980088'},
{location :    '국립현대미술관(덕수궁관)',   lat :    '37.56616815',   lng :    '126.9739116'},
{location :    '국립현대미술관 미술품수장센터(청주관)',   lat :    '36.65619563',   lng :    '127.4923824'},
{location :    '인덕대학교 아정미술관',   lat :    '37.63034387',   lng :    '127.0544999'},
{location :    '사비나미술관',   lat :    '37.57651443',   lng :    '126.9845724'},
{location :    '상원미술관',   lat :    '37.61162656',   lng :    '126.976541'},
{location :    '성곡미술관',   lat :    '37.57350943',   lng :    '126.969703'},
{location :    '세종문화회관 미술관(세종미술관)',   lat :    '37.57184786',   lng :    '126.9761683'},
{location :    '아르코미술관',   lat :    '37.58050139',   lng :    '127.003256'},
{location :    '군립청송야송미술관',   lat :    '36.50585697',   lng :    '129.1192011'},
{location :    '김천시립미술관',   lat :    '36.11679549',   lng :    '128.1194876'},
{location :    '포항시립미술관',   lat :    '36.06627642',   lng :    '129.3910762'},
{location :    '시안미술관',   lat :    '36.03276243',   lng :    '128.889246'},
{location :    '신풍미술관',   lat :    '36.53970006',   lng :    '128.4368474'},
{location :    '영담한지미술관',   lat :    '35.704586',   lng :    '128.9486116'},
{location :    '나절로미술관',   lat :    '34.38278134',   lng :    '126.2184684'},
{location :    '남포미술관',   lat :    '34.60370701',   lng :    '127.4572018'},
{location :    '다산미술관',   lat :    '35.02337437',   lng :    '127.1263483'},
{location :    '대담미술관',   lat :    '35.32531625',   lng :    '126.9834517'},
{location :    '도화헌미술관',   lat :    '34.44904959',   lng :    '127.3265708'},
{location :    '리:피움미술관',   lat :    '34.71873224',   lng :    '127.3652921'},
{location :    '모긴미술관',   lat :    '34.95433859',   lng :    '127.4818285'},
{location :    '섬in섬 연홍미술관',   lat :    '34.461914',   lng :    '127.0895017'},
{location :    '소소미술관',   lat :    '35.0359732',   lng :    '126.9055878'},
{location :    '아인미술관',   lat :    '35.344232',   lng :    '126.817249'},
{location :    '아천미술관',   lat :    '34.889364',   lng :    '126.704699'},
{location :    '아트센터신선미술관',   lat :    '34.79655492',   lng :    '126.4278861'},
{location :    '여수미술관',   lat :    '34.76132376',   lng :    '127.6601363'},
{location :    '영산미술관',   lat :    '34.739552',   lng :    '126.4886883'},
{location :    '우종미술관',   lat :    '34.81709589',   lng :    '127.2217642'},
{location :    '유달미술관',   lat :    '34.80942411',   lng :    '126.3776141'},
{location :    '잠월미술관',   lat :    '35.172467',   lng :    '126.552853'},
{location :    '장전미술관(휴관)',   lat :    '34.4297596',   lng :    '126.2379554'},
{location :    '진도솔마루미술관',   lat :    '34.51366797',   lng :    '126.291313'},
{location :    '진도현대미술관',   lat :    '34.4848554',   lng :    '126.2592679'},
{location :    '태곳미술관',   lat :    '35.037521',   lng :    '126.9680969'},
{location :    '학명미술관',   lat :    '34.74198357',   lng :    '126.7151606'},
{location :    '행촌미술관',   lat :    '34.57109724',   lng :    '126.6125105'},
{location :    '경주솔거미술관',   lat :    '35.8322527',   lng :    '129.2888671'},
{location :    '경주예술의전당 알천미술관',   lat :    '35.86235646',   lng :    '129.2059962'},
{location :    '장수미술관',   lat :    '35.67626378',   lng :    '127.5925051'},
{location :    '전주미술관',   lat :    '35.8148935',   lng :    '127.1445576'},
{location :    '전주현대미술관',   lat :    '35.81380222',   lng :    '127.1442048'},
{location :    '청목미술관',   lat :    '35.82291005',   lng :    '127.145582'},
{location :    '휘목미술관',   lat :    '35.59440018',   lng :    '126.563517'},
{location :    '1004섬수석미술관',   lat :    '34.8800925',   lng :    '125.9968744'},
{location :    '남도전통미술관',   lat :    '34.46699348',   lng :    '126.3083816'},
{location :    '노적봉예술공원미술관',   lat :    '34.78811336',   lng :    '126.3809359'},
{location :    '무안군오승우미술관',   lat :    '34.85259195',   lng :    '126.4152432'},
{location :    '보성군립백민미술관',   lat :    '34.966935',   lng :    '127.1600655'},
{location :    '아산조방원미술관',   lat :    '35.297047',   lng :    '127.1226242'},
{location :    '영암군립하정웅미술관',   lat :    '34.7606502',   lng :    '126.621768'},
{location :    '저녁노을미술관',   lat :    '34.84449766',   lng :    '126.2498394'},
{location :    '전남도립미술관',   lat :    '34.96887104',   lng :    '127.5903033'},
{location :    '함평군립미술관',   lat :    '35.05813923',   lng :    '126.5226056'},
{location :    '화순군립석봉미술관',   lat :    '35.0733094',   lng :    '126.9875228'},
{location :    '갓바위미술관',   lat :    '34.79022712',   lng :    '126.385005'},
{location :    '강진미술관',   lat :    '34.6439669',   lng :    '126.7685942'},
{location :    '경훈미술관',   lat :    '34.79456287',   lng :    '126.3927669'},
{location :    '공예미술관 보임쉔',   lat :    '35.248682',   lng :    '126.8795971'},
{location :    '리각미술관',   lat :    '36.82015665',   lng :    '127.186286'},
{location :    '모산조형미술관',   lat :    '36.311125',   lng :    '126.6577924'},
{location :    '서해미술관',   lat :    '36.63887544',   lng :    '126.3774755'},
{location :    '수덕사 선미술관',   lat :    '36.662475',   lng :    '126.6226684'},
{location :    '순성미술관',   lat :    '36.84330389',   lng :    '126.7126072'},
{location :    '아미미술관',   lat :    '36.861713',   lng :    '126.6804815'},
{location :    '임립미술관',   lat :    '36.39645669',   lng :    '127.1405912'},
{location :    '남원시립김병종미술관',   lat :    '35.39870644',   lng :    '127.389554'},
{location :    '벽천미술관',   lat :    '35.75462558',   lng :    '126.8531043'},
{location :    '순창공립옥천골미술관',   lat :    '35.37408281',   lng :    '127.144394'},
{location :    '익산예술의전당미술관',   lat :    '35.95138572',   lng :    '126.987858'},
{location :    '전라북도립미술관',   lat :    '35.72770556',   lng :    '127.106956'},
{location :    '정읍시립미술관',   lat :    '35.552359',   lng :    '126.8613896'},
{location :    '최북미술관',   lat :    '36.0029803',   lng :    '127.6651805'},
{location :    'W미술관',   lat :    '35.95280868',   lng :    '126.9886707'},
{location :    '교동미술관',   lat :    '35.815487',   lng :    '127.1511349'},
{location :    '금구원야외조각미술관',   lat :    '35.62063409',   lng :    '126.4888399'},
{location :    '누벨백미술관',   lat :    '35.81789497',   lng :    '127.1049483'},
{location :    '미술관 솔',   lat :    '35.82111358',   lng :    '127.1464627'},
{location :    '산속등대미술관',   lat :    '35.86930215',   lng :    '127.2519891'},
{location :    '수지미술관',   lat :    '35.32728171',   lng :    '127.347498'},
{location :    '예깊미술관',   lat :    '35.97517713',   lng :    '126.7237925'},
{location :    '이당미술관',   lat :    '35.988482',   lng :    '126.7112269'},
{location :    '송암미술관',   lat :    '37.43441631',   lng :    '126.6422184'},
{location :    '일현미술관(휴관)',   lat :    '38.06054927',   lng :    '128.678916'},
{location :    '장길환미술관',   lat :    '37.7744783',   lng :    '128.9430975'},
{location :    '정선507미술관',   lat :    '37.36136689',   lng :    '128.6267068'},
{location :    '쾌연재도자미술관',   lat :    '37.21816277',   lng :    '128.3679631'},
{location :    '하슬라미술관',   lat :    '37.70545629',   lng :    '129.0078449'},
{location :    '진천군립 생거판화미술관',   lat :    '36.87095956',   lng :    '127.4148854'},
{location :    '청주시립미술관',   lat :    '36.634776',   lng :    '127.4782984'},
{location :    '청주시립미술관 분관(대청호미술관)',   lat :    '36.50711307',   lng :    '127.4937195'},
{location :    '성마루미술관',   lat :    '36.96136388',   lng :    '127.838825'},
{location :    '쉐마미술관',   lat :    '36.69507531',   lng :    '127.4996815'},
{location :    '스페이스몸미술관',   lat :    '36.62677804',   lng :    '127.4328093'},
{location :    '신미술관',   lat :    '36.63782629',   lng :    '127.4757204'},
{location :    '운보미술관',   lat :    '36.69193256',   lng :    '127.5650627'},
{location :    '천안시립미술관',   lat :    '36.75613028',   lng :    '127.2248886'},
{location :    '당림미술관',   lat :    '36.742756',   lng :    '127.018627'},
{location :    '수원시립미술관',   lat :    '37.282704',   lng :    '127.015823'},
{location :    '한향림도자미술관',   lat :    '37.7889619',   lng :    '126.7011952'},
{location :    '해움미술관',   lat :    '37.2722582',   lng :    '127.0149899'},
{location :    '현대어린이책미술관 MOKA',   lat :    '37.39279462',   lng :    '127.1120875'},
{location :    '현대어린이책미술관 MOKA GARDEN',   lat :    '37.61625793',   lng :    '127.1524291'},
{location :    'KUMA 계원예술대학교 미술관',   lat :    '37.37947065',   lng :    '126.9818215'},
{location :    '갤러리 우촌(미술관)',   lat :    '37.43366544',   lng :    '127.0811488'},
{location :    '강릉시립미술관',   lat :    '37.76055167',   lng :    '128.890841'},
{location :    '공립인제내설악미술관',   lat :    '38.14667693',   lng :    '128.2523603'},
{location :    '양구군립 박수근미술관',   lat :    '38.0962413',   lng :    '127.9815765'},
{location :    '진부령미술관',   lat :    '38.26517662',   lng :    '128.3582402'},
{location :    '춘천미술관',   lat :    '37.88237413',   lng :    '127.7313736'},
{location :    '국제현대미술관',   lat :    '37.20840155',   lng :    '128.5069046'},
{location :    '권진규미술관(휴관)',   lat :    '37.92008719',   lng :    '127.8052555'},
{location :    '내설악백공미술관',   lat :    '38.2133718',   lng :    '128.3622348'},
{location :    '바우지움조각미술관',   lat :    '38.21234555',   lng :    '128.5151501'},
{location :    '석봉도자기미술관',   lat :    '38.19795098',   lng :    '128.582538'},
{location :    '오랜미래신화미술관',   lat :    '37.35008342',   lng :    '127.7697485'},
{location :    '월산미술관',   lat :    '37.46393347',   lng :    '129.0213151'},
{location :    '이상원미술관',   lat :    '37.96832347',   lng :    '127.5783522'},
{location :    '서호미술관',   lat :    '37.63270861',   lng :    '127.3515098'},
{location :    '선바위미술관',   lat :    '37.45177261',   lng :    '126.9993028'},
{location :    '설미재미술관',   lat :    '37.66088468',   lng :    '127.482287'},
{location :    '소다미술관',   lat :    '37.20162012',   lng :    '127.006088'},
{location :    '소전미술관',   lat :    '37.45196809',   lng :    '126.785504'},
{location :    '안상철미술관',   lat :    '37.77840046',   lng :    '126.9569334'},
{location :    '안젤리미술관',   lat :    '37.18451155',   lng :    '127.2313126'},
{location :    '엄미술관',   lat :    '37.205538',   lng :    '126.9793812'},
{location :    '여주미술관',   lat :    '37.26353502',   lng :    '127.6375866'},
{location :    '영은미술관',   lat :    '37.41355842',   lng :    '127.268748'},
{location :    '유리섬미술관',   lat :    '37.21975458',   lng :    '126.6024191'},
{location :    '이영미술관',   lat :    '37.27730628',   lng :    '127.090171'},
{location :    '일지미술관',   lat :    '37.83281026',   lng :    '127.3453796'},
{location :    '정문규미술관',   lat :    '37.801186',   lng :    '126.6878917'},
{location :    '종이미술관',   lat :    '37.22451241',   lng :    '126.5759889'},
{location :    '죽포미술관',   lat :    '37.4100311',   lng :    '127.4426381'},
{location :    '콩세유미술관',   lat :    '37.73897564',   lng :    '126.879012'},
{location :    '포마자동차디자인미술관',   lat :    '37.59181863',   lng :    '126.8964642'},
{location :    '한국미술관',   lat :    '37.308938',   lng :    '127.1319669'},
{location :    '수원시립아이파크미술관',   lat :    '37.28270503',   lng :    '127.0158251'},
{location :    '양주시립장욱진미술관',   lat :    '37.73281632',   lng :    '126.9492504'},
{location :    '양평군립미술관',   lat :    '37.49709935',   lng :    '127.4839989'},
{location :    '여주시 미술관 아트뮤지엄 려',   lat :    '37.23800665',   lng :    '127.6078507'},
{location :    '오산시립미술관',   lat :    '37.16022175',   lng :    '127.0770814'},
{location :    '이천시립월전미술관',   lat :    '37.28016656',   lng :    '127.4240472'},
{location :    'CICA미술관',   lat :    '37.6081699',   lng :    '126.5977739'},
{location :    '가일미술관',   lat :    '37.66041649',   lng :    '127.3794344'},
{location :    '구하우스 미술관',   lat :    '37.60305157',   lng :    '127.3511444'},
{location :    '근현대사미술관담다',   lat :    '37.27718474',   lng :    '127.1366654'},
{location :    '남송미술관',   lat :    '37.9045119',   lng :    '127.4722748'},
{location :    '닻미술관',   lat :    '37.380305',   lng :    '127.2711276'},
{location :    '마가미술관',   lat :    '37.33175232',   lng :    '127.1927284'},
{location :    '맥아트미술관',   lat :    '37.21975458',   lng :    '126.6024191'},
{location :    '모란미술관',   lat :    '37.6504135',   lng :    '127.3237775'},
{location :    '미누현대미술관',   lat :    '37.44558105',   lng :    '127.1493753'},
{location :    '백영수미술관',   lat :    '37.713632',   lng :    '127.0444385'},
{location :    '보름산미술관',   lat :    '37.59637231',   lng :    '126.760888'},
{location :    '블루메미술관',   lat :    '37.789394',   lng :    '126.6966333'},
{location :    '드영미술관',   lat :    '35.13429786',   lng :    '126.9534815'},
{location :    '무등현대미술관',   lat :    '35.13418204',   lng :    '126.9537242'},
{location :    '소암미술관',   lat :    '35.14377939',   lng :    '126.9070168'},
{location :    '우제길미술관',   lat :    '35.13180762',   lng :    '126.9430745'},
{location :    '은암미술관',   lat :    '35.150003',   lng :    '126.920686'},
{location :    '의재미술관',   lat :    '35.12937059',   lng :    '126.9673915'},
{location :    '주안미술관',   lat :    '35.15337504',   lng :    '126.9156585'},
{location :    '광주대학교 호심미술관',   lat :    '35.10590365',   lng :    '126.8961699'},
{location :    '조선대학교 미술관',   lat :    '35.14600564',   lng :    '126.9343635'},
{location :    '대전시립미술관',   lat :    '36.36704787',   lng :    '127.3857263'},
{location :    '이응노미술관',   lat :    '36.366898',   lng :    '127.3870189'},
{location :    '남철미술관(휴관)',   lat :    '36.338908',   lng :    '127.376069'},
{location :    '성암미술관',   lat :    '36.35367969',   lng :    '127.3488413'},
{location :    '여진불교미술관',   lat :    '36.41077032',   lng :    '127.4061155'},
{location :    '울산시립미술관',   lat :    '35.55778844',   lng :    '129.3206661'},
{location :    '경기도미술관',   lat :    '37.32507855',   lng :    '126.8099898'},
{location :    '경기도자미술관',   lat :    '37.27583191',   lng :    '127.4233575'},
{location :    '경기생활도자미술관',   lat :    '37.30014504',   lng :    '127.6545462'},
{location :    '고양시립 아람미술관',   lat :    '37.6614856',   lng :    '126.7744583'},
{location :    '김홍도미술관',   lat :    '37.3160359',   lng :    '126.8517345'},
{location :    '성남큐브미술관',   lat :    '37.40295657',   lng :    '127.1305599'},
{location :    '한양여자대학교 미술관',   lat :    '37.55791759',   lng :    '127.0493219'},
{location :    '부산광역시립미술관',   lat :    '35.16668716',   lng :    '129.1370273'},
{location :    '부산현대미술관',   lat :    '35.10933193',   lng :    '128.9426936'},
{location :    '디오티미술관',   lat :    '35.22888083',   lng :    '129.0767727'},
{location :    '고은사진미술관',   lat :    '35.16328812',   lng :    '129.1412107'},
{location :    '킴스아트필드미술관',   lat :    '35.25241439',   lng :    '129.0542017'},
{location :    '한광미술관',   lat :    '35.10898719',   lng :    '129.037474'},
{location :    'KT&G 상상마당 부산미술관',   lat :    '35.154278',   lng :    '129.0573028'},
{location :    '경성대학교미술관',   lat :    '35.13841761',   lng :    '129.100099'},
{location :    '동아대학교 석당미술관',   lat :    '35.10374099',   lng :    '129.0194146'},
{location :    '대구문화예술회관 미술관',   lat :    '35.84476741',   lng :    '128.5581018'},
{location :    '대구미술관',   lat :    '35.82702862',   lng :    '128.6743408'},
{location :    '경북대학교미술관',   lat :    '35.88909749',   lng :    '128.6143223'},
{location :    '계명대학교 극재미술관',   lat :    '35.85552317',   lng :    '128.5793157'},
{location :    '송암미술관',   lat :    '37.434422',   lng :    '126.6422184'},
{location :    '더리미미술관',   lat :    '37.72375499',   lng :    '126.508491'},
{location :    '전원미술관',   lat :    '37.76665206',   lng :    '126.4584439'},
{location :    '광주시립미술관',   lat :    '35.183233',   lng :    '126.885787'},
{location :    '시화문화마을금봉미술관',   lat :    '35.17956429',   lng :    '126.9404082'},
{location :    '양림미술관',   lat :    '35.1405167',   lng :    '126.9129673'},
{location :    '이강하미술관',   lat :    '35.13690726',   lng :    '126.9156315'},
{location :    '국윤미술관',   lat :    '35.13189236',   lng :    '126.936553'},
{location :    '신풍미술관',   lat :    '36.5397019',   lng :    '128.4368456'},
{location :    '월산미술관',   lat :    '37.46393347',   lng :    '129.0213151'},
{location :    '전남도립미술관(본관)',   lat :    '34.9660983',   lng :    '127.5615055'},
{location :    '아산조방원미술관(분관)',   lat :    '35.2970876',   lng :    '127.1202609'},
{location :    '홍천미술관',   lat :    '37.69461263',   lng :    '127.8885105'},
{location :    '보름산미술관',   lat :    '37.59637231',   lng :    '126.760888'},
{location :    'CICA미술관',   lat :    '37.6081597',   lng :    '126.5977703'},
{location :    '김영갑갤러리두모악미술관',   lat :    '33.372306',   lng :    '126.8542458'},
{location :    '김택화미술관',   lat :    '33.54375747',   lng :    '126.6531786'},
{location :    '돌하르방미술관',   lat :    '33.53881079',   lng :    '126.6888069'},
{location :    '러브랜드미술관(휴관)',   lat :    '33.45211112',   lng :    '126.488483'},
{location :    '왈종미술관',   lat :    '33.24530212',   lng :    '126.5736629'},
{location :    '유민미술관',   lat :    '33.42603156',   lng :    '126.9264499'},
{location :    '제주옹기숨미술관',   lat :    '33.4490742',   lng :    '126.4807207'},
{location :    '포토갤러리자연사랑미술관',   lat :    '33.35564999',   lng :    '126.7719331'},
{location :    'KT&G상상마당부산미술관',   lat :    '35.154278',   lng :    '129.0573028'},
{location :    '우양미술관',   lat :    '35.83991327',   lng :    '129.2859477'},
{location :    '향암미술관',   lat :    '36.71812863',   lng :    '129.3545998'},
{location :    '대구가톨릭대학교김종복미술관',   lat :    '35.90896711',   lng :    '128.807422'},
{location :    '경남도립미술관',   lat :    '35.23946357',   lng :    '128.6908566'},
{location :    '김해문화의전당 윤슬미술관',   lat :    '35.24373381',   lng :    '128.8694108'},
{location :    '진주시립이성자미술관',   lat :    '35.17580996',   lng :    '128.1427403'},
{location :    '창원시립마산문신미술관',   lat :    '35.20675249',   lng :    '128.569266'},
{location :    '클레이아크김해미술관',   lat :    '35.25086479',   lng :    '128.7447968'},
{location :    '대산미술관',   lat :    '35.34513902',   lng :    '128.7440738'},
{location :    '리미술관',   lat :    '35.082874',   lng :    '128.091146'},
{location :    '우주미술관',   lat :    '35.07365569',   lng :    '128.0831817'},
{location :    '전혁림미술관',   lat :    '34.826514',   lng :    '128.415166'},
{location :    '통영옻칠미술관',   lat :    '34.85461932',   lng :    '128.4429192'},
{location :    '서귀포시기당미술관',   lat :    '33.244841',   lng :    '126.5511958'},
{location :    '이중섭미술관',   lat :    '33.245827',   lng :    '126.5648746'},
{location :    '제주도립 김창열미술관',   lat :    '33.33907132',   lng :    '126.2686717'},
{location :    '제주도립미술관',   lat :    '33.45255002',   lng :    '126.4896861'},
{location :    '제주현대미술관',   lat :    '33.339644',   lng :    '126.2656919'},
{location :    '의재미술관',   lat :    '35.12937059',   lng :    '126.967392'},
{location :    '우제길미술관',   lat :    '35.131806',   lng :    '126.943042'},
{location :    '무등현대미술관',   lat :    '35.134183',   lng :    '126.953723'},
{location :    '국윤미술관',   lat :    '35.131896',   lng :    '126.936533'},
{location :    '은암미술관',   lat :    '35.150012',   lng :    '126.920655'},
{location :    '주안미술관',   lat :    '35.153376',   lng :    '126.9156606'},
{location :    '드영미술관',   lat :    '35.134298',   lng :    '126.953481'},
{location :    '우주미술관',   lat :    '35.07366768',   lng :    '128.083174'},
{location :    '당림미술관',   lat :    '36.742747',   lng :    '127.018673'},
{location :    '성마루미술관',   lat :    '36.9613298',   lng :    '127.8388283'},
{location :    '국립현대미술관(서울관)',   lat :    '37.57862929',   lng :    '126.9800889'},
{location :    'OCI 미술관',   lat :    '37.57323807',   lng :    '126.982131'},
{location :    'JCC미술관',   lat :    '37.58716156',   lng :    '127.0018885'},
{location :    '금호미술관',   lat :    '37.57746518',   lng :    '126.9799126'},
{location :    '진주시립 이성자미술관',   lat :    '35.17580907',   lng :    '128.1427382'},
{location :    '포스코미술관',   lat :    '37.50581326',   lng :    '127.056137'},
{location :    '코리아나미술관',   lat :    '37.524071',   lng :    '127.032811'},
{location :    '밀알미술관',   lat :    '37.48578132',   lng :    '127.0820739'},
{location :    'K현대미술관',   lat :    '37.52438077',   lng :    '127.0391734'},
{location :    '공립인제내설악미술관',   lat :    '38.14667693',   lng :    '128.2523603'},
{location :    '진천군립 생거판화미술관',   lat :    '36.87095893',   lng :    '127.4148849'},
{location :    '가일미술관',   lat :    '37.660417',   lng :    '127.379434'},
{location :    '남송미술관',   lat :    '37.904512',   lng :    '127.472221'},
{location :    '설미재미술관',   lat :    '37.660885',   lng :    '127.482238'},
{location :    '일지미술관',   lat :    '37.832810',   lng :    '127.345306'},
{location :    '오산시립미술관',   lat :    '37.16026829',   lng :    '127.0770823'},
{location :    '대구가톨릭대학교김종복미술관',   lat :    '35.90896711',   lng :    '128.807422'},
{location :    '국제현대미술관',   lat :    '37.20840155',   lng :    '128.5069046'},
{location :    '쾌연재도자미술관',   lat :    '37.218111',   lng :    '128.3679631'},
{location :    '영월아프리카미술박물관',   lat :    '37.13187895',   lng :    '128.5353509'},
{location :    '영월종교미술박물관',   lat :    '37.210942',   lng :    '128.4452253'},
{location :    '인도미술박물관',   lat :    '37.23587339',   lng :    '128.2392085'},
{location :    '수덕사선미술관',   lat :    '36.66245074',   lng :    '126.6226684'},
{location :    '조선대학교미술관',   lat :    '35.146003',   lng :    '126.934363'},
{location :    '금구원 야외조각미술관',   lat :    '35.62063562',   lng :    '126.4888399'},
{location :    '양림미술관',   lat :    '35.14055335',   lng :    '126.9129656'},
{location :    '이강하 미술관',   lat :    '35.13690654',   lng :    '126.9156644'},
{location :    '전북도립미술관',   lat :    '35.72770556',   lng :    '127.1069245'},
{location :    '정읍시립미술관',   lat :    '35.55232735',   lng :    '126.8613896'},
{location :    '최북미술관',   lat :    '36.0029803028',   lng :    '127.6651804967'},
{location :    '하정웅미술관',   lat :    '35.1549821',   lng :    '126.8884468'},
{location :    '남원시립김병종미술관',   lat :    '35.398706',   lng :    '127.389555'},
{location :    '아트센터 나비 미술관',   lat :    '37.56969128',   lng :    '126.980341'},
{location :    '일민미술관',   lat :    '37.56986758',   lng :    '126.9776553'},
{location :    '경북대학교 미술관',   lat :    '35.88909849',   lng :    '128.6143217'},
{location :    '산속등대미술관',   lat :    '35.86930215',   lng :    '127.2519891'},
{location :    '휘목미술관',   lat :    '35.59440018',   lng :    '126.5635167'},
{location :    '강릉시립미술관',   lat :    '37.76055167',   lng :    '128.890841'},
{location :    '하슬라미술관',   lat :    '37.70545629',   lng :    '129.0078449'},
{location :    '장길환미술관',   lat :    '37.7744783',   lng :    '128.9430975'},
{location :    '김달진미술자료박물관',   lat :    '37.600016',   lng :    '126.9566605'},
{location :    '향암미술관',   lat :    '36.71812868',   lng :    '129.3545998'},
{location :    '양구군립박수근미술관',   lat :    '38.0962413',   lng :    '127.9815765'},
{location :    '김택화미술관',   lat :    '33.544049',   lng :    '126.652878'},
{location :    '유동룡미술관',   lat :    '33.340542',   lng :    '126.2707159'},
{location :    '다산미술관',   lat :    '35.023337',   lng :    '127.126387'},
{location :    '경성대학교미술관',   lat :    '35.13843676',   lng :    '129.1000975'},
{location :    '시안미술관',   lat :    '36.03276243',   lng :    '128.889217'},
{location :    '송암미술관',   lat :    '37.4344431',   lng :    '126.6422184'},
{location :    '임립미술관',   lat :    '36.39645552',   lng :    '127.1405904'},
{location :    '무안군오승우미술관',   lat :    '34.852575',   lng :    '126.4152438'},
{location :    '벽천미술관',   lat :    '35.7546256',   lng :    '126.8531043'},
{location :    '소소미술관',   lat :    '35.035937',   lng :    '126.905588'},
{location :    '태곳미술관',   lat :    '35.037549',   lng :    '126.968088'},
{location :    '화순군립 최상준미술관',   lat :    '35.073320',   lng :    '126.9875228433'},
{location :    '청주시립미술관',   lat :    '36.63471608',   lng :    '127.4782998'},
{location :    '청주시립대청호미술관',   lat :    '36.50711307',   lng :    '127.4937195'},
{location :    '쉐마미술관',   lat :    '36.6950253',   lng :    '127.4996815'},
{location :    '스페이스몸미술관',   lat :    '36.62677804',   lng :    '127.4328093'},
{location :    '서울과학기술대학교 미술관',   lat :    '37.64066045',   lng :    '127.0668656'},
{location :    '성남큐브미술관',   lat :    '37.40295613',   lng :    '127.1305583'},
{location :    '현대어린이책미술관 MOKA',   lat :    '37.39279354',   lng :    '127.1120882'},
{location :    '양평군립미술관',   lat :    '37.49709935',   lng :    '127.4839988'},
{location :    '서해미술관',   lat :    '36.63887544',   lng :    '126.3774755'},
{location :    '예송미술관',   lat :    '37.50235785',   lng :    '127.0934902'},
{location :    '소마미술관',   lat :    '37.51686487',   lng :    '127.1181845'},
{location :    '한미사진미술관',   lat :    '37.51659259',   lng :    '127.1139562'},
{location :    '전주현대미술관',   lat :    '35.81380222',   lng :    '127.1442048'},
{location :    '청목미술관',   lat :    '35.82290877',   lng :    '127.1455957'},
{location :    '모산조형미술관',   lat :    '36.3111117',   lng :    '126.6577924'},
{location :    '자하미술관',   lat :    '37.58937855',   lng :    '126.960398'},
{location :    '토탈미술관',   lat :    '37.61212012',   lng :    '126.9756765'},
{location :    '학아재미술관',   lat :    '37.577059',   lng :    '126.9904047'},
{location :    '환기미술관',   lat :    '37.59408714',   lng :    '126.966112'},
{location :    '세화미술관',   lat :    '37.56964296',   lng :    '126.972186'},
{location :    '대림미술관',   lat :    '37.57750352',   lng :    '126.9733647'},
{location :    '통영옻칠미술관',   lat :    '34.85467741',   lng :    '128.4429183'},
{location :    '전혁림미술관',   lat :    '34.82651379',   lng :    '128.4151206'},
{location :    '옥천골미술관',   lat :    '35.37408371',   lng :    '127.1443984'},
{location :    '섬진강미술관',   lat :    '35.42634164',   lng :    '127.2189105'},
{location :    '전주미술관',   lat :    '35.8148935',   lng :    '127.1445576'},
{location :    '미술관 자작나무숲',   lat :    '37.49276094',   lng :    '128.0500584'},
{location :    '사립아인미술관',   lat :    '35.344232',   lng :    '126.817249'},
{location :    '콩세유미술관',   lat :    '37.7389756417',   lng :    '126.8790261954'},
{location :    '극재미술관',   lat :    '35.85552317',   lng :    '128.5793157'},
{location :    '바래길작은미술관',   lat :    '34.76768593',   lng :    '127.847836'},
{location :    '겸재정선미술관',   lat :    '37.57222423',   lng :    '126.8384111'},
{location :    '장수미술관',   lat :    '35.6762644',   lng :    '127.5925069'},
{location :    '교동미술관',   lat :    '35.815487',   lng :    '127.1511349'},
{location :    '남도전통미술관',   lat :    '34.46699348',   lng :    '126.3083816'},
{location :    '진도현대미술관',   lat :    '34.48485654',   lng :    '126.2592679'},
{location :    '진도솔마루미술관',   lat :    '34.51367589',   lng :    '126.291313'},
{location :    '나절로미술관',   lat :    '34.38278134',   lng :    '126.2184684'},
{location :    '소전미술관',   lat :    '34.48699026',   lng :    '126.2646155'},
{location :    '산꽃미술관',   lat :    '34.52308172',   lng :    '126.2275096'},
{location :    '이상원미술관',   lat :    '37.968325',   lng :    '127.578351'},
{location :    '춘천미술관',   lat :    '37.882376',   lng :    '127.731333'},
{location :    '백영수미술관',   lat :    '37.713694',   lng :    '127.044439'},
{location :    '전남도립미술관',   lat :    '34.59058912',   lng :    '126.4332456'},
{location :    '소전미술관',   lat :    '37.4519274',   lng :    '126.785502'},
{location :    '기당미술관',   lat :    '33.24484755',   lng :    '126.5511958'},
{location :    '이중섭미술관',   lat :    '33.24586163',   lng :    '126.5648746'},
{location :    '자연사랑 미술관',   lat :    '33.35564999',   lng :    '126.7719331'},
{location :    '제주 현대미술관',   lat :    '33.33969288',   lng :    '126.2656919'},
{location :    '돌하르방미술관',   lat :    '33.5388475',   lng :    '126.6888123'},
{location :    '제주도립 김창열미술관',   lat :    '33.33907132',   lng :    '126.2686717'},
{location :    '제주 도립미술관',   lat :    '33.45255002',   lng :    '126.4896861'},
{location :    '왈종미술관',   lat :    '33.24530212',   lng :    '126.5736629'},
{location :    '유민미술관',   lat :    '33.42603156',   lng :    '126.9264499'},
{location :    '김달진미술자료박물관',   lat :    '37.60004663',   lng :    '126.9566597'},
{location :    '천안예술의전당미술관',   lat :    '36.75613028',   lng :    '127.2248886'},
{location :    '리각미술관',   lat :    '36.82015665',   lng :    '127.186286'},
{location :    '클레이아크 김해미술관',   lat :    '35.25086479',   lng :    '128.7447968'},
{location :    '한향림도자미술관',   lat :    '37.7865784815',   lng :    '126.7021101823'},
{location :    '(재)한원미술관',   lat :    '37.48178113',   lng :    '127.0154357'},
{location :    '예술의전당 한가람디자인미술관',   lat :    '37.4802402',   lng :    '127.0142152'},
{location :    '예술의전당 한가람미술관',   lat :    '37.4802402',   lng :    '127.0142152'},
{location :    '여수미술관',   lat :    '34.761318',   lng :    '127.660173'},
{location :    '정선507미술관',   lat :    '37.36136689',   lng :    '128.6267068'},
{location :    '블루메미술관',   lat :    '37.7893254058',   lng :    '126.6966333151'},
{location :    '사비나미술관',   lat :    '37.6301511',   lng :    '126.9292600'},
{location :    '엄미술관',   lat :    '37.205538',   lng :    '126.9793812'},
{location :    '소다미술관',   lat :    '37.20162012',   lng :    '127.006088'},
{location :    '보성군립백민미술관',   lat :    '34.96694632',   lng :    '127.160095'},
{location :    '포항시립미술관',   lat :    '36.06627642',   lng :    '129.391093'},
{location :    '경주예술의전당알천미술관',   lat :    '35.86235686',   lng :    '129.205958'},
{location :    '우양미술관',   lat :    '35.8399144',   lng :    '129.2859499'},
{location :    '경남도립미술관',   lat :    '35.23946503',   lng :    '128.6908555'},
{location :    '호암미술관',   lat :    '37.2932160407',   lng :    '127.1923330254'},
{location :    '한국미술관',   lat :    '37.3089509',   lng :    '127.1319883'},
{location :    '마가미술관',   lat :    '37.331711',   lng :    '127.1927876743'},
{location :    '안젤리미술관',   lat :    '37.1845115484',   lng :    '127.2313126139'},
{location :    '근현대사미술관담다',   lat :    '37.2771845',   lng :    '127.1366705'},
{location :    '경주솔거미술관',   lat :    '35.83225413',   lng :    '129.288868'},
{location :    '이천시립월전미술관',   lat :    '37.28016467',   lng :    '127.4240483'},
{location :    '군립청송야송미술관',   lat :    '36.505855',   lng :    '129.119201'},
{location :    '서울시립 남서울미술관',   lat :    '37.4760535374',   lng :    '126.9794658616'},
{location :    '서울대학교 미술관',   lat :    '37.46803806',   lng :    '126.9592943'},
{location :    '신미술관',   lat :    '36.63782718',   lng :    '127.4757213'},
{location :    '운보미술관',   lat :    '36.69193256',   lng :    '127.5650627'},
{location :    '1004섬수석미술관',   lat :    '34.8800925',   lng :    '125.9968744'},
{location :    '천사상미술관',   lat :    '34.6084222',   lng :    '126.0375545'},
{location :    '저녁노을미술관',   lat :    '34.844492',   lng :    '126.249879'},
{location :    '조희룡미술관',   lat :    '35.10259823',   lng :    '126.0727879'},
{location :    '둔장마을미술관',   lat :    '34.9137812',   lng :    '126.0627136'},
{location :    '박득순미술관',   lat :    '34.68347635',   lng :    '125.4233176'},
{location :    '장산화이트미술관',   lat :    '34.63654628',   lng :    '126.1740875'},
{location :    '영암군립하정웅미술관',   lat :    '34.7606502',   lng :    '126.621768'},
{location :    '아천미술관',   lat :    '34.88939751',   lng :    '126.704699'},
{location :    '영산미술관',   lat :    '34.73959317',   lng :    '126.4886883'},
{location :    '부산시립미술관',   lat :    '35.1666871626',   lng :    '129.1370272704'},
{location :    '고은사진미술관',   lat :    '35.1632784',   lng :    '129.1412106571'}

   );


   let markers = new Array(); // 마커 정보를 담는 배열
   let infoWindows = new Array(); // 정보창을 담는 배열


    var map = new naver.maps.Map('map', {
        center: new naver.maps.LatLng(37.4910456,126.7204602), // 학원
        zoom: 10,
        zoomControl: true,
        zoomControlOptions: {
            position: naver.maps.Position.TOP_RIGHT}
        });

    for (var i=0; i<areaArr.length; i++) {

      // 지역을 담은 배열의 길이만큼 for문으로 마커와 정보창을 채워주자 !

       var marker = new naver.maps.Marker({
           icon: {
             url: "img/.png", // 아이콘 이미지 경로
             scaledSize: new naver.maps.Size(40, 47), // 아이콘 크기 설정
             origin: new naver.maps.Point(0, 0), // 아이콘의 원점 설정
            },
           map: map,
           title: areaArr[i].location, // 지역구 이름
           position: new naver.maps.LatLng(areaArr[i].lat , areaArr[i].lng) // 지역구의 위도 경도 넣기
       });

    var infoWindow = new naver.maps.InfoWindow({
            content: '<div style="width:200px;text-align:center;padding:10px;"><b>'
             + areaArr[i].location + '</b><br></div>'
    });   // 클릭했을 때 띄워줄 정보 HTML 작성

       markers.push(marker); // 생성한 마커를 배열에 담는다.
       infoWindows.push(infoWindow); // 생성한 정보창을 배열에 담는다.
   }

     function getClickHandler(seq) {
            return function(e) {  // 마커를 클릭하는 부분
                var marker = markers[seq], // 클릭한 마커의 시퀀스로 찾는다.
                    infoWindow = infoWindows[seq]; // 클릭한 마커의 시퀀스로 찾는다

                if (infoWindow.getMap()) {    // 정보창이 이미 지도에 열려 있는 경우 닫기
                    infoWindow.close();
                } else {    // 정보창이 열려 있지 않은 경우 열기
                    infoWindow.open(map, marker); //표출
                }
            }
    }

    for (var i=0, ii=markers.length; i<ii; i++) {
        naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i)); // 클릭한 마커 핸들러
    }


</script>
<div th:replace="~{fragments/footer::footer}" class="footer"></div>
</body>
</html>